<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430002411880-vbj6efrlfhuo3rdsdimu4egem8i72doh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430002411880-vbj6efrlfhuo3rdsdimu4egem8i72doh</string>
	<key>API_KEY</key>
	<string>AIzaSyA6hNCqepF3A__WoWlnPW28tXMTqZkK1tI</string>
	<key>GCM_SENDER_ID</key>
	<string>430002411880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abdelhamidmergh.residanatalgerseancesenlinge</string>
	<key>PROJECT_ID</key>
	<string>residanatalgerseancesenl-ad38a</string>
	<key>STORAGE_BUCKET</key>
	<string>residanatalgerseancesenl-ad38a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430002411880:ios:ca449663959f8cc264dedd</string>
</dict>
</plist>